.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 5px 5px; font-size: 1.0em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #B8DBFF; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }

/*  Define the background color for all the ODD background rows  */
.table1 tr:nth-child(odd) {background: #FFFFFF;}
/*  Define the background color for all the EVEN background rows  */
.table1 tr:nth-child(even) {background: #A8C6FA;}
/*Remove unnecessary border */
.table1 td.noLeft {border-left:0;}

select {width:100%;}

select option{
	font-family: "Arial";
	font-size: 14px;
}

.table1 tr {
	font-family: "Arial";
	font-size: 14px;
	color: blue;

}

p1 {
	font-family: "Arial";
	font-size: 20px;
 }