.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 5px 5px; font-size: 1.0em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #B8DBFF; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }

/*	Define the background color for all the ODD background rows	*/
.table1 tr:nth-child(1) {background: #FFFFFF;}
/*	Define the background color for all the EVEN background rows	*/
.table1 tr:nth-child(2) {background: #A8C6FA;}
/*Remove unnecessary border */
.table1 td.noLeft {border-left:0;}

select {width:100%;}

select option{
	font-family: "Arial";
	font-size: 14px;
}

.table1 tr {
	font-family: "Arial";
	font-size: 16px;
	color: black;

}

p1 {
	font-family: "Arial";
	font-size: 20px;
 }

 #settings {
	border: 2px solid black;
	height: 125px;
	width: 350px;
	position: absolute;
	top: 30px;
	left: 10px;
	font-family: "Arial";
	font-size: 15px;
	color: black;
}
	#lblText {
		position: absolute;
		top: 13px;
		left: 30px;
		height: 20px;
		width: 100px;
	}
	#inpText {
		position: absolute;
		top: 10px;
		left: 95px;
		height: 20px;
		width: 40px;
	}
	#lblTextColor {
		position: absolute;
		top: 13px;
		left: 180px;
		height: 20px;
		width: 100px;
	}
	#btnTextColor {
		position: absolute;
		top: 10px;
		left: 260px;
		height: 20px;
		width: 50px;
	}
	#inpColorScheme1 {
		position: absolute;
		top: 50px;
		left: 140px;
		height: 20px;
		width: 50px;
	}
	#inpColorScheme2 {
		position: absolute;
		top: 50px;
		left: 210px;
		height: 20px;
		width: 50px;
	}
	#lblColor {
		/*Color Scheme: */
		position: absolute;
		top: 53px;
		left: 30px;
		height: 20px;
		width: 200px;
	}
